.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfstate.d/
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.vscode/
.DS_Store
